:host{
  display: block;
  width: 320px;
  height: 480px;
}
.card-header{
  padding: 6px;
  margin: 1px;
  border-bottom: 2px solid rgba(23,21,21,0.75);
}
.card-title{
  text-align: center;
}
.card-body{
  padding: 12px;
}
p{
  margin-bottom: 7px;
}
.badge{
  display: block;
  height: 40px;
  width: 40px;

  top: 0;
  position: absolute;

  background: black;
  border: 1px solid grey;
  border-radius: 0 0 100% 0 / 0 0 100% 0;

  line-height: 25px;
  padding: 3px 13px;
  text-align: left;
}
.favor {
  position: absolute;
  top: 0;
  right: 0;

  width: 0;
  height: 0;
  border-width: 45px 25px 25px;
  border-style: solid;
  border-color: #f89406 #f89406 transparent;
}
