<!--The content below is only a placeholder and can be replaced.-->
  <h1>
    Welcome to Fake Avito!
  </h1>
<app-filter></app-filter>
<app-sort></app-sort>
<div>{{info.title}} - nwnwnnwn</div>
<div class="cards">
  <app-card class="item"></app-card>
  <app-card class="item"></app-card>
  <app-card class="item"></app-card>
  <app-card class="item"></app-card>
  <app-card class="item"></app-card>
  <app-card class="item"></app-card>
  <app-card class="item"></app-card>
  <app-card class="item"></app-card>
  <app-card class="item"></app-card>
  <app-card class="item"></app-card>
  <app-card class="item"></app-card>
  <app-card class="item"></app-card>
</div>
